body { 
  background-color: rgba(170, 135, 70, 0.336);
  margin: ;
  text-align: center;
}

/* setting the dimensions, text color, font, etc. for all text inside of the main body of html */

main {
	padding-top: 100px;
	min-height: 200px;
	text-align: center;
	font-family: courier New;
	color:#343a40;
	font-weight: bold;
}

/* setting the dimensions, margins, text color, font, & text alignment for the main header */


h1 {
	font-size: 75px;
	text-align: center;
	padding-top: 05px;
	margin: 0 0 0 20px;
    	color:#5e646b;
   	text-align: courier New;
	font-weight: bold;
}

/* setting the dimensions,  text color, font, & text alignment for the second header */


h2 {
	font-size: 35px;
	text-align: center;
	padding-top: 10px;
  	color: #5e646b;
	text-align: center;
	font-weight: bold;
	font-family: courier New;
}

/* setting the dimensions, text color, font, & text alignment for the third header */


h3 {
	font-size: 25px;
	text-align: center;
	padding-top: 10px;
    	color:#5e646b;
	font-family: courier New;
}

/* setting the dimensions, text color, font, & text alignment for all text within paragraphs */


p{ 
	font-size: 15px;
	text-align: center;
	padding-top: 10px;
    	color:#343a40;
	text-align: courier New;

}


/* setting the dimensions, text color, font, etc. for all text inside the About Me Ordered List secction */


ol{ 
	font-size: 15px;
	text-align: center;
	padding-top: 10px;
    	color:#343a40;
	font-family: courier New;
}

/* Sets the image to be aligned in the center of the page */

img{
text-align: center;

}

/* Changes the size and thickness of the boarders throughout the webpage */

hr { 
height: 4px;
background-color: black;
border: 2px solid black;
  
}

/* setting the dimensions, text color, font, etc. for all text inside the Contact Info Unordered List secction */

ul{
	font-size: 15px;
	text-align: center;
	padding-top: 12px;
    	color: black; 
	text-align: courier New;
	
}


/* Stylizes the linkes for the unordered list on the contacts section */

a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

a:link {
  color: rgba(170, 135, 70, 0.336);
}

a:visited {
background-color: black;
color: #343a40;
padding: 1em 1.5em;
text-decoration: none;
text-transform: lowercase
}

a:focus {
  border-bottom: 1px solid;
  background: black;
}

a:hover {
  border-bottom: 1px solid;
  background: #5e646b;
}

a:active {
  background: #265301;
  color: #CDFEAA;
}

/* setting the dimensions, text color, font, etc. for all text inside of the footer of html */

footer {
	height: 100px;
	background-color: #43a40;
	text-align: courier New;
	font-weight: bold;

}
